<!-- <div class="task-list" cdkDropList (cdkDropListDropped)="onTaskDropped($event)">
    <div class="task" *ngFor="let task of tasks" cdkDrag>
        {{ task.name }}
    </div>
</div> -->

<!-- <div class="task-list">
    <h2 class="task-heading">Tasks</h2>
    <div class="task-container" cdkDropList (cdkDropListDropped)="onTaskDropped($event)">
        <ng-container *ngIf="tasks.length > 0; else noSections">
            <div class="task-card" *ngFor="let task of tasks" cdkDrag>
                <div class="task-content">
                    <div class="task-name">{{ task.name }}</div>
                    <div class="task-description">{{ task.description }}</div>
                    <div class="task-meta">
                        <div class="task-due-date">Due Date: {{ task.dueDate | date }}</div>
                        <div class="task-priority">Priority: {{ task.priority | camelCase}}</div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noSections>
            <div class="no-sections-placeholder">
                <p style="display: flex;justify-content: center;font-size: 22px;">There is no tasks available
                    now.</p>
            </div>
        </ng-template>
    </div>
</div> -->


<!-- <div class="task-list">
    <h2 class="task-heading">Tasks</h2>
    <div class="task-container" cdkDropList (cdkDropListDropped)="onTaskDropped($event)">
        <ng-container *ngIf="tasks.length > 0; else noTasks">
            <div class="task-card" *ngFor="let task of tasks" cdkDrag>
                <div class="task-content">
                    <div class="task-header">
                        <div class="task-name">{{ task.name }}</div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editTask(task)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteTask(task.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                            <button mat-menu-item (click)="completeTask(task)">
                                <mat-icon>check_circle</mat-icon>
                                <span>Complete</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="task-description">{{ task.description }}</div>
                    <div class="task-meta">
                        <div class="task-due-date">Due Date: {{ task.dueDate | date }}</div>
                        <div class="task-priority" [ngClass]="{
                          'high-priority': task.priority === 'HIGH',
                          'normal-priority': task.priority === 'NORMAL',
                          'low-priority': task.priority === 'LOW'
                        }">Priority: {{ task.priority | camelCase}}</div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noTasks>
            <div class="no-tasks-placeholder">
                <p>There are no tasks available now.</p>
            </div>
        </ng-template>
    </div>
</div> -->


<div class="task-list">
    <h2 class="task-heading">Tasks</h2>
    <div class="task-container" cdkDropList (cdkDropListDropped)="onTaskDropped($event)">
        <ng-container *ngIf="tasks.length > 0; else noTasks">
            <div class="task-card" *ngFor="let task of tasks" cdkDrag>
                <div class="task-content">
                    <div class="task-header">
                        <div class="task-name">{{ task.name }}</div>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="editTask(task)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span>
                            </button>
                            <button mat-menu-item (click)="deleteTask(task.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                            <button mat-menu-item (click)="completeTask(task)">
                                <mat-icon>check_circle</mat-icon>
                                <span>Complete</span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="task-description">{{ task.description }}</div>
                    <div class="task-meta">
                        <div class="task-due-date">Due Date: {{ task.dueDate | date }}</div>
                        <div class="task-priority" [ngClass]="{
                'high-priority': task.priority === 'HIGH',
                'normal-priority': task.priority === 'NORMAL',
                'low-priority': task.priority === 'LOW'
              }">Priority: {{ task.priority | camelCase }}</div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-template #noTasks>
            <div class="no-tasks-placeholder">
                <p>There are no tasks available now.</p>
            </div>
        </ng-template>
    </div>
</div>