<!-- Header Section -->
<div class="container-fluid header-section">
    <div class="row px-2 py-4">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="mb-2" style="font-weight: bold;font-size: 30px;">TASKS</div>
            <div class="text-secondary" style="font-weight:300 ;font-size: 17px;letter-spacing: -0.20px;">
                {{task.length}}
                remaining tasks</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex text-right" style="justify-content: flex-end;">
            <section>
                <div class="example-button-row">
                    <div class="example-flex-container">
                        <button mat-flat-button class="section-btn rounded-pill" (click)="openAddSectionModal()">
                            <span>Add Section</span><mat-icon>add</mat-icon>
                        </button>

                        <button mat-flat-button color="primary" class="rounded-pill" (click)="openAddTaskModal()">
                            <span>Add Task</span><mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Section Listing -->
<div class="container-fluid section-list">
    <div class="row mt-3">
        <div class="col-12 p-0">
            <ng-container *ngIf="sections.length > 0; else noSections">
                <div class="card">
                    <div class="card-body p-0" cdkDropList (cdkDropListDropped)="drop($event)">
                        <div class="section-card" *ngFor="let section of sections; let i = index" cdkDrag>
                            <div class="row">
                                <div class="col-6" (click)="openTasksModal(section?.id)" matTooltip="View Tasks">

                                    <h3 style="font-size: 20px;font-weight: 500;padding-left: 8px;">
                                        {{section?.title}}</h3>
                                </div>
                                <div class="col-3 d-flex del">
                                    <span [ngClass]="getPriorityClass(section.priority)" class="priority-badge"
                                        matTooltip="Priority">
                                        {{ section?.priority | camelCase}}
                                    </span>
                                </div>
                                <!-- <div class="col-3 d-flex del">
                                    <button mat-fab color="primary" aria-label="Delete section"
                                        (click)="confirmDelete(section.id)" matTooltip="Delete Section">
                                        <mat-icon>delete</mat-icon>
                                    </button>

                                    <button mat-icon-button matTooltip="Edit Section"
                                        (click)="openEditSectionModal(section)">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                </div> -->
                                <div class="col-3 d-flex del">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Options">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="openEditSectionModal(section)">
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit</span>
                                        </button>
                                        <button mat-menu-item (click)="confirmDelete(section.id)">
                                            <mat-icon>delete</mat-icon>
                                            <span>Delete</span>
                                        </button>
                                        <button mat-menu-item (click)="completeSection(section.id)">
                                            <mat-icon>done</mat-icon>
                                            <span>Complete</span>
                                        </button>
                                    </mat-menu>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #noSections>
                <div class="no-sections-placeholder">
                    <p style="display: flex;justify-content: center;font-size: 22px;">There is no sections available
                        now.</p>
                </div>
            </ng-template>

        </div>
    </div>
</div>