<!-- Header Section -->
<div class="container-fluid header-section">
    <div class="row mt-3">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex" style="align-items: flex-start;">
            <h1 class="text-center" style="padding-left: 8px;font-weight: bold;font-size: 30px;">TASKS</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex text-right" style="justify-content: flex-end;">
            <section>
                <div class="example-button-row">
                    <div class="example-flex-container">
                        <button mat-flat-button color="primary" class="button-with-icon"
                            (click)="openAddSectionModal()">
                            <span>Add Section</span><mat-icon>add</mat-icon>
                        </button>

                        <button mat-flat-button color="primary" class="button-with-icon" (click)="openAddTaskModal()">
                            <span>Add Task</span><mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Section Listing -->
<div class="container-fluid section-list">
    <div class="row mt-3">
        <div class="col-12">
            <!-- *ngFor="let section of sections"  (click)="viewTasks(section)"-->
            <ng-container *ngIf="sections.length > 0; else noSections">
                <div class="section-card" *ngFor="let section of sections">
                    <div class="row">
                        <div class="col-6" (click)="openTasksModal(section?.id)">
                            <h3 style="font-size: 20px;font-weight: 500;padding-left: 8px;">
                                {{section?.title}}</h3>
                        </div>
                        <div class="col-6 d-flex del">
                            <button mat-fab color="primary" aria-label="Delete section"
                                (click)="confirmDelete(section.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #noSections>
                <div class="no-sections-placeholder">
                    <p style="display: flex;justify-content: center;font-size: 22px;">There is no sections available
                        now.</p>
                </div>
            </ng-template>

        </div>
    </div>
</div>